.cta-100 {
    margin-top: 100px;
    padding-left: 0%;
    padding-top: 0%;
}
.col-md-4{
    padding-bottom: 30px;
}

.white {
    color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
    background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
    padding-bottom: 100px;
}

.blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #9c88ff;
}




.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
}

.item-box-blog-image {
    position: relative;
}

.item-box-blog-image figure img {
    width: 100%;
    height: auto;
}

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.item-box-blog-date span.mon {
font-size: 18px;
}

.item-box-blog-date span.day {
    font-size: 16px;
}

.item-box-blog-body {
    padding: 10px;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
    font-size: 13px;
}

.item-box-blog-data p i {
    font-size: 12px;
}

.item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
}

.introduction {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
    border: ridge 10px;
    border-color: #F8EFBA;
}
.introduction p {
    margin-left: 30px;
    margin-right: 30px;
}
.introduction .book_cover {
    margin: 0%;
}

#rainbow {
    animation-duration: 3s; 
    animation-name: rainbowLink; 
    animation-iteration-count: infinite;
    @keyframes rainbowLink {     
        0% { color: #ff2a2a; }
        15% { color: #ff7a2a; }
        30% { color: #ffc52a; }
        45% { color: #43ff2a; }
        60% { color: #2a89ff; }
        75% { color: #202082; }
        90% { color: #6b2aff; } 
        100% { color: #e82aff; }
    }
}
